#root {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

h1 {
  margin: 0;
  line-height: 1.1;
}


.start-game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cont-prev-new-game-button-div {
  display: flex;
  flex-direction: column;
  gap: 2px; 
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.cont-prev-game-button {
  color: black;
  border-color : black;
  width: 70%;
  height: 50%; 
  font-size: 8px;
  padding: 0px;
  margin: 0px;
  max-width: 100px;
}

.new-game-button {
  color: black;
  border-color : black;
  width: 70%;
  height: 50%; 
  font-size: 8px;
  padding: 0px;
  margin: 0px;
  max-width: 100px;
}

.game-button {
  color: black;
  border-color : black;
}

.back-to-start-menu {
  color: black;
  border-color : black;
}

.main-button-area{
  padding: 0px; 
  margin: 0px;
}

.nerts-logo {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.number-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
}
.game-settings {
  font-size: 12px;
}

p {
  margin: 2px;
}

.next-round-button {
  color: black;
  border-color: black;
}

.enter-names-input::placeholder {
  color: #bbb;
  opacity: 1;
}